{% load static i18n %}
 <!-- App css -->
{# <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />#}
{# <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />#}
{# <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />#}
<!-- head-css.html -->
<link id="bootstrapStylesheet" href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link id="appStylesheet" href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
