{% extends 'vertical_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load dict_extras %}
{% load tree_tags %}
{% load i18n %}

{% block title %}Permission Delete Confirmation{% endblock %}

{% block page_content %}
    <h1>Delete Permission</h1>
    <p>Are you sure that you want to detele permission - "{{ permission.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'users:permission_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
